#miniatures {
    width: 120px;
    border: 2px solid black;
    height: 600px;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;

}

.miniatureImage {
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px outset black;
    overflow: hidden;
}

#maxiature {
    margin-left: 10px;
    float: left;
    border: 2px solid black;
    display: inline-block;
    height: 600px;
    padding: 50px;
    box-sizing: border-box;
}
#maxiature img{
    height: 500px;
    width: 500px;
    margin: auto;
}