#thumbnails {
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 205px;
}

.thumbnail {
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px outset black;
    overflow: hidden;
}

#largeImg {
    border: 2px solid black;
    display: inline-block;
    height: 600px;
    padding: 50px;
    box-sizing: border-box;
    width: 600px;
    margin-left: 15px;
}
#largeImg img{
    height: 500px;
    width: 500px;
    margin: auto;
}
#container {
    display: flex;
    flex-direction: row;
}